.hero-bg {
      background-image: url(https://i.ibb.co/tDYhDwv/5999.jpg);
      background-size: cover;
}
.img-bg{
      background-image: url(https://i.ibb.co/YLFWQqz/victor.png );
      background-size: cover;
      background-repeat: no-repeat;
}
.hero-cercle {
      
            --animate-duration: 7s;
            --animate-repeat: ;
          
}